@using Connextion.Events
<NavLink class="block max-w-sm mx-auto shadow-lg rounded-lg overflow-hidden mb-4
    bg-gray-50 dark:bg-slate-800
    text-gray-500 dark:text-gray-600
" href="@($"/Events/{@ViewModel.Key}")">
    <article class="px-6 py-4">
        <h4 class="text-xl font-bold text-gray-900">@ViewModel.Name</h4>
        <p class="whitespace-pre-line mt-2 text-gray-600">
            @ViewModel.Description
        </p>
        <div class="mt-4">
            <span class="text-gray-700">Attendees:</span>
            <span class="text-gray-900 font-medium">@ViewModel.Attendees</span>
            <span class="text-gray-700">/</span>
            <span class="text-gray-900 font-medium">@ViewModel.Capacity</span>
        </div>
        <div class="mt-4">
            <span class="text-gray-700">Date:</span>
            <time datetime="@ViewModel.StartDate.ToString("O")" class="text-gray-900 font-medium">
                @ViewModel.StartDate.ToString("D")
            </time>
        </div>
    </article>
</NavLink>

@code {
    [Parameter] public required EventDetailsDto ViewModel { get; init; }
}